.background-image{
    width: 1320px;
    height: 600px;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('../resources/Banner\ Image.png');
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    margin: auto;
    
}
 
.title{
    width: 400;
    height: 100%;
    font-size: 32px;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}
.text{
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    color: #fff;
    margin-top:0;
     
}